/* shared styles */
* {
    font-family: 'Merriweather', serif;
    /* max-width: 1320px;
    margin: 0 auto; */
}

section {
    margin-top: 120px;
}

/* header related styles */
.header {
    background: linear-gradient(180deg, #110502 0%, rgba(7, 2, 17, 0) 100%),
        url(../images/Banner-Image.png);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1320px;
    border-radius: 16px;
    margin: 50px auto 120px auto;
}

.banner-content {
    padding: 177px 0px;
}

.banner-greeting {
    color: #fff;
    text-align: center;
    font-size: 32px;
}

.banner-title {
    color: #fff;
    text-align: center;
    font-size: 72px;
    font-style: normal;
    line-height: 95px;
}

/* main section styles  */

main {
    max-width: 1320px;
    margin: 0 auto;
}

.off-65 {
    margin: 0 120px;
}

.off-65-title {
    color: #f00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
}

.off-65-description {
    color: #f00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
}

.off-65-category {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
}

.off-65-image {
    margin: 0 auto;
}

.midnight-party {
    background: url(../images/Vectorrr.png);
    background-size: ;
    background-repeat: no-repeat;
    max-width: 1320px;
    max-height: 600px;
    border-radius: 16px;
}

.midnight-party-content {
    padding: 126px 552px 142px 126px;
}

.midnight-party-title {
    color: #fff;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
}

.midnight-party-description {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.midnight-party-join {
    color: #fff;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

/* address related styles*/

.red {
    color: #f00;
}

.address {
    background: linear-gradient(
        180deg,
        rgba(255, 0, 0, 0.1) 0%,
        rgba(255, 0, 0, 0) 100%
    );
}

.address-content {
    padding: 100px 380px;
}

.address-description {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.btn-join {
    border-radius: 8px;
    background: #f00;
    border: 0;
    padding: 16px 32px;
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    margin-left: 223px;
}

.offer-content {
    display: flex;
    gap: 100px;
}

.offer-col {
    width: 463px;
}

.new-offer {
    color: #f00;
    font-family: Inter;
    font-size: 24px;
}

.offer-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
}

.offer-description {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
}

.offer-image {
    /* border: solid red; */
    border-radius: 50%;
    border: 15px solid red;
    padding: 35px;
    background-clip: content-box;
    background-color: violet;
}

.twenty-four {
    color: #f00;
    font-family: Inter;
    font-size: 48px;
}

.holidays-sale-content {
    margin-top: 120px;
}

.functional {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    text-align: center;
    margin-bottom: 16px;
}

.holiday-sale-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    text-align: center;
    margin-bottom: 28px;
}

.holiday-sale-description {
    color: #07021199;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    margin-bottom: 64px;
}

.holiday-image-container {
    display: flex;
}

.best-gift {
    color: #f00;
    font-family: Inter;
    font-size: 24px;
}

.portfolio-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
}

.portfolio-description {
    color: #07021199;
    font-family: Inter;
    font-size: 20px;
}

.portfolio-image:hover {
    transform: scale(1.3);
    border: 2px solid #f00;
    border-radius: 16px;
}

.newsletter-content {
    border-radius: 16px;
    background: #ff00000d;
}

.newsletter-image {
    margin: 80px 585px 40px 585px;
}

.newsletter-title {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
}

.newsletter-description {
    color: #07021199;
    text-align: center;
    font-family: Inter;
}

.email-box {
    height: 72px;
    display: flex;
    justify-content: center;
}

button,
input[type='email'] {
    border: none;
    outline: none;
}

.btn-email {
    background-color: #f00;
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    padding: 24px 56px;
    border-radius: 0px 50px 50px 0px;
}
